# Python
__pycache__/
*.py[cod]
*$py.class
*.cpython-*.pyc
*.cpython-*.pyo
*.cpython-*.pyd
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

/minions_logs
minion_reasoning_logs/


# Virtual Environment
venv/
env/
ENV/
.env/
.venv/
.env

# Local pip user base (used for sandboxed installs during development)
.pyuser/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
data/

# Misc
.DS_Store
.coverage
htmlcov/
.pytest_cache/ 
node_modules/

# ChromaDB Persistance
chroma/

# Ignore worker keys file
worker_keys.json

# Ignore keyfiles for minions-a2a
api_keys.json
oauth2_clients.json
minion_logs/

verifier.log
attestation_sdk.log

minions-secure-attestation/

CLAUDE.md

*.csv